body{
    background: #d2d5d8;
    color: black;
    font-family: Kalapi;
    font-weight: bolder;
}
.company{
    border-width: 1px;
    border-radius: 10px;
    border-color: black;
}
.sz{
    height: 600px
}
.script{
    width: 100%;
    height: 100%;
    border-width: 0px;
    border-color: black;
}
.on{
    font-size: 48px;
    color: black;
}
.of{
    border-width: 1px;
    border-radius: 10px;
    border-color: black;
}
.black{
    height: 60px;
    width: 320px;
    font-size: 32px;
    border-width: 1px;
    border-radius: 10px;
    border-color: black;
}
.br{
    border-width: 2px;
    border-color: black;
}
.off{
    width: 160px;
    height: 50px;
    border-width: 1px;
    border-radius: 10px;
    border-color: black;
    font-weight: bolder;
}