body{
    background: #d2d5d8;
    color: black;
    font-family: Kalapi;
    font-weight: bolder;
}
.top{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}
.center{
    position: absolute;
    top: 100%;
    left: 0;
    height: 100%;
    width: 100%;
}
.bottom{
    position: absolute;
    top: 200%;
    left: 0;
    height: 100%;
    width: 100%;
}
.black{
    background: black;
    color: #d2d5d8;
    height: 60px;
    width: 320px;
    font-size: 32px;
    border-width: 1px;
    border-radius: 10px;
    border-color: black;
}
.note{
    width: 100%;
    height: 100%
}
.prob{
    background: black;
    height: 10px;
}
.call{
    width: 70px;
    height: 40px;
    border-color: black;
    border-width: 1px;
    border-radius: 5px;
}
.phone{
   font-family: Arial;
}
.phone1{
    font-size: 28px;
    color: black;
}
.good{
    background: #e55252;
    color: black;
}
.key{
    background: #006ed6;
    color: white;
}
.bon{
    background: #ffc33d;
    color: black;
}
.full{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
}
.script{
    width: 100%;
    height: 100%;
    border-radius-: 10px;
    border-width: 0px;
    border-color: #d2d5d8;
}
.company{
    background: black;
    color: #d2d5d8;
    border-radius-: 10px;
    border-width: 2px;
}
.sz{
    height: 650px
}
.on{
    font-size: 40px;
    color: black;
}
.of{
    width: 160px;
    height: 60px;
    border-width: 1px;
    border-radius: 10px;
    border-color: black;
}
.hd{
    background: black;
    color: #d2d5d8;
}
